body {
    margin: 0;
    padding: 0;
  }

  .logo {
    float: left;
  }


  #navigation-container {
    width: 80%;
    margin: 0 auto;
    height: 100px;
    
  }

  .navigation-bar {
    height: 70px;
    width: 100%;
    text-align:center;
    vertical-align: top;
    display: inline-block;
  }
  .navigation-bar img{
  float:left;
  }

  .navigation-bar ul {
    padding: 0px;
    margin-left: 30%;
    text-align: center;
    display:inline-block;
    vertical-align:top;
  }

  .navigation-bar li {
    list-style-type: none;
    padding: 0px;
    height: 24px;
    margin-top: 4px;
    margin-bottom: 4px;
    display: inline-flex;
    
  }

  .navigation-bar li a {
    color: #002A00;
    font-size: 16px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-decoration: none;
    line-height: 70px;
    padding: 5px 15px;
    opacity: 0.9;
  }

  #menu {
    float: right;
  }
  h1 {
      color: #002A00;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 48px;
      font-weight: bold;
      margin-top: 0px;
      margin-bottom: 45px;
  }

  .content {
      font-family: Arial, Helvetica, sans-serif;
      font-size:18px;
      background-color: white;
      text-align: left;
      width: 56%;
      padding-top: 150px;
      float: right;
      vertical-align: top;
      line-height: 35px;
  }

  
  p.one{
      font-size: 25px;
      color: #002A00;
  }

  p.two{
      font-size: 20px;
      color: #002A00;
      opacity: 0.9;
    
  }
  .heroImg{
      height: 600px; 
      padding: 25px;
  }
  #image{
      height: 90%; 
      margin: 5% 0% 0% 9%;
  }
  footer {
      margin-top:100px;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      padding: 3px;
      background-color: whitesmoke;
      color: black;
      display: inline-block;
      width: 100%;

  }

  .footerContent {
      padding: 1%;
      display: inline-block;
      vertical-align: top;
      text-align: center;
  }